/* див для меню */
.menu{
  display: flex;
  justify-content: space-between;
  width: 96.5vw;
  margin-left: 1.75vw;
  margin-top: 1.75vw;
  margin-bottom: 1.75vw;
}

/* стили текста у меню */
a{
  font-family: "HelveticaNeue";
  font-size: 1.4vw;
  color: #2D9CE5;
  transition: 0.4s;
}

a:hover{
  opacity: 45%;
}

/* глаз из меню */
.menueye{
  width: 3.6vw;
  margin-top: -0.6vw;
  transition: 0.4s;
}

.menueye:hover{
  opacity: 45%;
}

/* остальное */

.content{
  display: flex;
  width: 96.5vw;
  height: 70vw;
  margin-left: 1.75vw;
  margin-bottom: 1.75vw;
  object-fit:cover;
  flex-direction: column;
}

p1{
  font-family: "HelveticaNeue";
  color: #2D9CE5;
  font-size: 4.86vw;
  margin-top: 1.7vw;
}

p2{
  font-family: "HelveticaNeue";
  color: #2D9CE5;
  font-size: 1.73vw;
  line-height: 2vw;
  margin-top: 2vw;
}

.box1{
  display: flex;
  width: 96.5vw;
  justify-content: space-between;
  height: 32.5vw;
}

.box4{
  display: flex;
  width: 50vw;
  flex-direction: column;
}

.box2{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 40vw;
  width: 96.5vw;
  flex-direction: column;
}

.img21{
  position: absolute;
  width: 71.1vw;
  height: 35.8vw;
}

.img18{
  width: 5.42vw;
  transition: all .3s ease-in-out;
}

.img18:hover{
  transform: scale(1.1);
}

.img19{
  width: 5.42vw;
  transition: all .3s ease-in-out;
}

.img19:hover{
  transform: scale(1.1);
}

.img20{
  width: 5.42vw;
  transition: all .3s ease-in-out;
}

.img20:hover{
  transform: scale(1.1);
}

.box3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2.5vw;
  padding-right: 3vw;
  height: 20vw;
}

/* рендер помещения */
.image{
  display: none;
  width: 96.5vw;
  height: 58vw;
  margin-left: 1.75vw;
  margin-bottom: 1.75vw;
}

.img22{
  border-radius: 3.5vw;
  width: 96.5vw;
}

.img4{
  position: absolute;
  margin-left: 3vw;
  margin-top: 3vw;
  width: 5.42vw;
  transition: all .3s ease-in-out;
}

.img4:hover{
  transform: scale(1.1);
}

.img21{
  width: 71.6vw;
}

/* локация 2 */
.content1{
  display: none;
  width: 96.5vw;
  height: 70vw;
  margin-left: 1.75vw;
  margin-bottom: 1.75vw;
  object-fit:cover;
  flex-direction: column;
}

.image1{
  display: none;
  width: 96.5vw;
  height: 58vw;
  margin-left: 1.75vw;
  margin-bottom: 1.75vw;
}

.img25{
  border-radius: 3.5vw;
  width: 96.5vw;
}

.img24{
  width: 71.6vw;
}

/* локация 3 */
.content2{
  display: none;
  width: 96.5vw;
  height: 70vw;
  margin-left: 1.75vw;
  margin-bottom: 1.75vw;
  object-fit:cover;
  flex-direction: column;
}

.image2{
  display: none;
  width: 96.5vw;
  height: 58vw;
  margin-left: 1.75vw;
  margin-bottom: 1.75vw;
}

.img26{
  position: absolute;
  width: 71.1vw;
  height: 35.8vw;
}

.img27{
  border-radius: 3.5vw;
  width: 96.5vw;
}

/* локация 4 */
.content3{
  display: none;
  width: 96.5vw;
  height: 70vw;
  margin-left: 1.75vw;
  margin-bottom: 1.75vw;
  object-fit:cover;
  flex-direction: column;
}

.image3{
  display: none;
  width: 96.5vw;
  height: 58vw;
  margin-left: 1.75vw;
  margin-bottom: 1.75vw;
}

.img28{
  position: absolute;
  height: 35.8vw;
}

.img29{
  border-radius: 3.5vw;
  width: 96.5vw;
}

/* локация 5 */
.content4{
  display: none;
  width: 96.5vw;
  height: 70vw;
  margin-left: 1.75vw;
  margin-bottom: 1.75vw;
  object-fit:cover;
  flex-direction: column;
}

.image4{
  display: none;
  width: 96.5vw;
  height: 58vw;
  margin-left: 1.75vw;
  margin-bottom: 1.75vw;
}

.img30{
  position: absolute;
  height: 35.8vw;
}

.img31{
  border-radius: 3.5vw;
  width: 96.5vw;
}

/* для скрипта */
.yes{
  display: flex;
}
.no{
  display: none;
}
p77 {
  font-family: "HelveticaNeue";
  color: #2D9CE5;
  font-size: 3.64vw;
}

.please{
  display: none;
  align-items: center;
  justify-content: center;
  width: 96.5vw;
  height: 58vw;
  margin-left: 1.75vw;
  margin-bottom: 1.75vw;
}
