
.wrapper1{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1.7587fr 1fr;
  grid-template-areas: "b1 b2"
  "b3 b2"
  "b3 b2"
  "b3 b2"
  "b3 b2"
  "b3 b2"
  "b3 b2"
  "b4 b4"
  }

.wrapper2{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1.7587fr;
  grid-template-areas: "b5 b6"
  "b5 b6"
  "b5 b6"
  "b5 b6"
  "b5 b6"
  "b5 b6"
  "b5 b7"
  }

.wrapper3{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1.7587fr 1fr;
  grid-template-areas: "b8 b9"
  "b8 b9"
  "b8 b9"
  "b8 b9"
  "b8 b9"
  "b8 b9"
  "b10 b9"
  }

.wrapper4{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1.7587fr;
  grid-template-areas: "b11 b12"
  "b11 b13"
  "b11 b13"
  "b11 b13"
  "b11 b13"
  "b11 b13"
  "b11 b13"
  }


.box1{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #A5599E;
  height: 7.5vw;
  grid-area: b1;
}

.im1{
  position: relative;
  animation: anim1 4s infinite;
  height: 6.18vw;
}

@keyframes anim1 {
  0% {left: 0vw;}
  20% {left: 13.8vw;}
  40% {left: 0vw;}
  60% {left: -13.8vw;;}
  80% {left: 0vw;}
}

.im1:hover{
  animation-play-state: paused;
}

.box2{
  overflow: hidden;
  white-space: nowrap;
  position:relative;
  background-color: #06A099;
  grid-area: b2;
}

.f1{
  position: absolute;
  top: 8.78vw;
  left: 2.74vw;
  width: 30.76vw;
  transition: 1.5s ease-in-out;
}

.f1:hover{
  transform: rotate(-360deg)
}







.box3{
  position: relative;
  background-color: #06A099;
  grid-area: b3;
}
.w0{
  width: 63.75vw;
  height: 2.3vw;
  background-color: #06A099;
  position: absolute;
  bottom: 0px;
}
.w1{
  position: absolute;
  bottom: 0;
  animation: wave1 3s linear infinite;
  width: 63.75vw;
}

.w2{
  position: absolute;
  bottom: 0;
  animation: wave2 3s linear infinite;
  width: 63.75vw;
}

.w3{
  position: absolute;
  bottom: 0;
  animation: wave3 3s linear infinite;
  width: 63.75vw;
}

.w4{
  position: absolute;
  bottom: 0;
  animation: wave4 3s linear infinite;
  width: 63.75vw;
}

.w5{
  position: absolute;
  bottom: 0;
  width: 63.75vw;
}

.w6{
  position: absolute;
  bottom: 0;
  animation: wave5 3s linear infinite;
  width: 63.75vw;
}

.w7{
  position: absolute;
  bottom: 0;
  width: 63.75vw;
}

.w8{
  position: absolute;
  bottom: 0;
  animation: wave6 3s linear infinite;
  width: 63.75vw;
}

.w9{
  position: absolute;
  bottom: 0;
  /* height: 0; */
  width:0;
}

.w10{
  position: absolute;
  bottom: 0;
  /* height: 0; */
  width:0;
}

.w11{
  position: absolute;
  bottom: 0;
  /* height: 0; */
  width:0;
}

/* .w12{
  position: absolute;
  bottom: 0;
  height: 0;
  width:0;
} */

@keyframes wave1 {
  0% {bottom: 0;}
  20% {bottom: 2vw;}
  40% {bottom: 2vw;}
  60% {bottom: 0;}
  80% {bottom: 0;}
  100% {bottom: 0;}
}

@keyframes wave2 {
  0% {bottom: 0;}
  20% {bottom: 0;}
  40% {bottom: 3vw;}
  60% {bottom: 3vw;}
  80% {bottom: 0;}
  100% {bottom: 0;}
}

@keyframes wave3 {
  0% {bottom: 0;}
  20% {bottom: 0;}
  40% {bottom: 0;}
  60% {bottom: 3vw;}
  80% {bottom: 3vw;}
  100% {bottom: 0;}
}

@keyframes wave4 {
  0% {bottom: 0;}
  20% {bottom: 0;}
  40% {bottom: 0;}
  60% {bottom: 0;}
  80% {bottom: 3vw;}
  100% {bottom: 0;}
}

@keyframes wave5 {
  0% {bottom: 0;}
  20% {bottom: 3vw;}
  40% {bottom: 3vw;}
  60% {bottom: 0;}
  80% {bottom: 0;}
  100% {bottom: 0;}
}

@keyframes wave6 {
  0% {bottom: 0;}
  20% {bottom: 1vw;}
  40% {bottom: 1vw;}
  60% {bottom: 0;}
  80% {bottom: 0;}
  100% {bottom: 0;}
}

.box4{
  background-color: #F8AD18;
  height: 7.5vw;
  grid-area: b4;
  overflow: hidden;
  white-space: nowrap;
}

.text1{
  font-family: "mr_NorwesterG";
  font-size: 6.94vw;
  color: white;
  -webkit-text-stroke-width: 0.07vw;
  -webkit-text-stroke-color: #F8AD18;
  overflow: hidden;
  white-space: nowrap;
  animation: text1 5s linear infinite;
}

.text1:hover{
  animation-play-state: paused;
}

@keyframes text1 {
  from { text-indent: 100%}
  to { text-indent: -100%}
}

.box5{
  position: relative;
  background-color: #F7EB61;
  grid-area: b5;
  height: 52.5vw;
  width:
}

.flex{
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 43.8vw;
  width: 49.5%;
  left:0;
  top:2.5vw;
  display: flex;

}

.flex2{
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 43.8vw;
  width: 48.5%;
  right:0;
  top:2.5vw;
  display: flex;
}

.win1{
  width: 11.7vw;
  height: 8.8vw;
  animation: win1 3s infinite;

}

.win2{
  width: 11.7vw;
  height: 8.8vw;
  animation: win2 3s infinite;

}
.win3{
  width: 11.7vw;
  height: 8.8vw;
  animation: win3 3s infinite;

}
.win4{
  width: 11.7vw;
  height: 8.8vw;
  animation: win4 3s infinite;

}
.win5{
  width: 11.7vw;
  height: 8.8vw;
  animation: win5 3s infinite;

}
.win6{
  width: 11.7vw;
  height: 8.8vw;
  animation: win6 3s infinite;

}


@keyframes win1 {
  0% {opacity: 0}
  20% {opacity: 100%}
  32%
  48%
  64%
  80%
  96%

}

@keyframes win2 {
  0% {opacity: 0}
  16% {opacity: 0}
  32% {opacity: 100%}
  48%
  64%
  80%
  96%
}

@keyframes win3 {
  0% {opacity: 0}
  16% {opacity: 0}
  32% {opacity: 0}
  48% {opacity: 100%}
  64%
  80%
  96%
}

@keyframes win4 {
  0% {opacity: 0}
  16% {opacity: 0}
  32% {opacity: 0}
  48% {opacity: 0}
  64% {opacity: 100%}
  80%
  96%
}

@keyframes win5 {
  0% {opacity: 0}
  16% {opacity: 0}
  32% {opacity: 0}
  48% {opacity: 0}
  64% {opacity: 0}
  80% {opacity: 100%}
  96%
}

@keyframes win6 {
  0% {opacity: 0}
  16% {opacity: 0}
  32% {opacity: 0}
  48% {opacity: 0}
  64% {opacity: 0}
  80% {opacity: 0}
  96% {opacity: 100%}

}

.ls{
  height:52.5vw;
  width:  36.25vw;
}

 .box6{
  position: relative;
  overflow: hidden;
  /* white-space: nowrap; */
  background-color: #F7EB61;
  grid-area: b6;
  height: 45vw;
}

.wall{
  height: 45vw;
  width: 63.75vw;
}
.thewall{
  position: absolute;
  height: 0;
  width: 0;
}
.but{
  position: absolute;
  width: 57.4vw;
  left: 3.2vw;
  top:10.6vw;
  animation: but 7s infinite;

}

@keyframes but {
 0% {left:3.2vw; top:10.6vw;}
 15%{transform: rotate(45deg);}
 40% {left:50vw; top:-50vw;}
 41%{opacity: 100%;}
 42%{opacity: 0%;}
 60%{transform: rotate(45deg);opacity: 0%; left:-30vw; top:50vw;}
 61%{opacity: 100%;}
 95%{left:3.2vw; top:10.6vw;}
}

.flex1{
  display: flex;
}


 .box7{
  background-color: #EA5384;
  height: 7.5vw;
  grid-area: b7;
}

.text2{
  font-family: "mr_NorwesterG";
  font-size: 6.94vw;
  color: white;
  -webkit-text-stroke-width: 0.07vw;
  -webkit-text-stroke-color: #EA5384;
  overflow: hidden;
  /* white-space: nowrap; */
  animation: text2 3s linear infinite ;
}

.text2:hover{
  animation-play-state: paused;
}

@keyframes text2 {
  from { text-indent: -100%}
  to { text-indent: 100%}
}


.box8{
  background-color: #06A099;
  position:relative;
  overflow: hidden;
  white-space: nowrap;
  grid-area: b8;
}

.tr1{
  position: absolute;
  bottom: 0;
  left:-16.11vw;
  height: 100%;
  animation: tr1 3s infinite ;
}

.tr2{
  position: absolute;
  bottom: 0;
  right: -16.11vw;
  height: 100%;
  animation: tr2 3s infinite ;
}


.tr3{
  position: absolute;
  bottom: 0;
  height: 100%;
  animation: tr3 3s infinite ;
}


.tr4{
  position: absolute;
  bottom: 0;
  left: 16.42vw;
  height: 22vw;
}

.romb1{
  position: absolute;
  width:0;
  height: 0;
}

.romb2{
 position: absolute;
 width:0;
 height: 0;
}

.romb3{
 position: absolute;
 width:0;
 height: 0;
}

@keyframes tr1 {
  0% {left: -16.11vw;}
  50% {left: 16.5vw;}
  100% {left: -16.11vw;}
}

@keyframes tr2 {
  0% {right: -16.11vw;}
  50% {right: 16.5vw;}
  100% {right: -16.11vw;}
}

@keyframes tr3 {
  0% {bottom: 0;}
  50% {bottom: -7vw;;}
  100%`{bottom: 0;}
}

@keyframes tr4 {
  0%
  25%
  50%
  75%
  100%
}


 .box9{
  position:relative;
  background-color: #06A099;
  grid-area: b9;
  overflow: hidden;
  white-space: nowrap;
}

.wat{
  position: absolute;
  height: 52.5vw;
  width:  36.25vw;
}

.bild{
  position: absolute;
  height: 45vw;
}


.fish1{
 position: absolute;
 width:27.47vw;
 left:3.9vw;
 top:6.39vw;
 animation: fish1 5s infinite ;
}

.fish2{
  position: absolute;
  width:27.45vw;
  right:4.4vw;
  bottom:8.82vw;
  animation: fish2 5s infinite ;
}

@keyframes fish1 {
  0% {left:3.9vw; top:6.39vw;}
  35% {transform: rotate(20deg); left:-60vw; top:3vw}
  36%{opacity: 100%;}
  37%{opacity: 0%;}
  60% {opacity: 0%;left:70vw; top:3vw}
  61%{opacity: 100%;}
  75% {transform: rotate(-20deg);}
  100% {}
}

@keyframes fish2 {
  0% {right:4.4vw; bottom:8.82vw;}
  35% {transform: rotate(15deg); right:-60vw; bottom:4vw;}
  36%{opacity: 100%;}
  37%{opacity: 0%;}
  60% {opacity: 0%; right:70vw; bottom:4vw}
  61%{opacity: 100%;}
  75% {transform: rotate(-15deg);}
  100% {}
}

 .box10{
  background-color: #A5599E;
  height: 7.5vw;
  grid-area: b10;
}

.text3{
  font-family: "mr_NorwesterG";
  font-size: 6.94vw;
  color: white;
  -webkit-text-stroke-width: 0.07vw;
  -webkit-text-stroke-color: #A5599E;
  overflow: hidden;
  white-space: nowrap;
  animation: text3 6s linear infinite ;
}

@keyframes text3 {
  0% {width: 0%;}
  25% {width: 100%;}
  50% {width: 100%;}
  100% {width: 0%;}
}

.text3:hover{
  animation-play-state: paused;
}

.box11{
  position: relative;
  background-color: #EA5384;
  grid-area: b11;
}

.block1{
  position: absolute;
  width: 18.125vw;
  height: 17.5vw;
  left: 0;
  top: 0;
  animation: block1 6s infinite ;
}

.block2{
  position: absolute;
  width: 18.125vw;
  height: 17.5vw;
  right: 0;
  top: 0;
  animation: block2 6s infinite ;
}

.block3{
  position: absolute;
  width: 18.125vw;
  height: 17.5vw;
  left: 0;
  top: 17.5vw;
  animation: block3 6s infinite ;
}

.block4{
  position: absolute;
  width: 18.125vw;
  height: 17.5vw;
  right: 0;
  top: 17.5vw;
  animation: block4 6s infinite ;
}

.block5{
  position: absolute;
  width: 18.125vw;
  height: 17.5vw;
  left: 0;
  bottom: 0;
  animation: block5 6s infinite ;
}

.block6{
  position: absolute;
  width: 18.125vw;
  height: 17.5vw;
  right: 0;
  bottom: 0;
  animation: block6 6s infinite ;
}

@keyframes block1 {
  0% {left: 0; top: 0;}
  15% {left: 18.125vw; top: 0;}
  30% {left: 18.125vw; top: 17.5vw;}
  45% {left: 18.125vw; top: 35vw;}
  60% {left: 0; top: 35vw;}
  85% {left: 0; top: 17.5vw;}
  100% {left: 0; top: 0;}

}

@keyframes block2 {
  0% {right: 0; top: 0;}
  15% {right: 0; top: 17.5vw;}
  30% {right: 0; top: 35vw;}
  45% {right: 18.125vw; top: 35vw;}
  60% {right: 18.125vw; top: 17.5vw;}
  85% {right: 18.125vw; top: 0;}
  100% {right: 0; top: 0;}

}

@keyframes block3 {
  0% {left: 0; top: 17.5vw;}
  15% {left: 0; top: 0}
  30% {left: 18.125vw; top: 0;}
  45% {left: 18.125vw; top: 17.5vw;}
  60% {left: 18.125vw; top: 35vw;}
  85% {left: 0; top: 35vw;}
  100% {left: 0; top: 17.5vw;}

}

@keyframes block4 {
  0%  {right: 0; top: 17.5vw;}
  15% {right: 0; top: 35vw;}
  30% {right: 18.125vw; top: 35vw;}
  45% {right: 18.125vw; top: 17.5vw;}
  60% {right: 18.125vw; top: 0;}
  85% {right: 0; top: 0;}
  100% {right: 0; top: 17.5vw;}

}

@keyframes block5 {
  0%  {left: 0; top: 35vw;}
  15% {left: 0; top: 17.5vw;}
  30% {left: 0; top: 0}
  45% {left: 18.125vw; top: 0;}
  60% {left: 18.125vw; top: 17.5vw;}
  85% {left: 18.125vw; top: 35vw;}
  100% {left: 0; top: 35vw;}

}

@keyframes block6 {
  0%  {right: 0; top: 35vw;}
  15% {right: 18.125vw; top: 35vw;}
  30% {right: 18.125vw; top: 17.5vw;}
  45% {right: 18.125vw; top: 0;}
  60% {right: 0; top: 0;}
  85% {right: 0; top: 17.5vw;}
  100% {right: 0; top: 35vw;}

}

 .box12{
  background-color: #F8AD18;
  height: 7.5vw;
  grid-area: b12;
}

.text4{
  font-family: "mr_NorwesterG";
  font-size: 6.94vw;
  color: white;
  -webkit-text-stroke-width: 0.07vw;
  -webkit-text-stroke-color: #F8AD18;
  overflow: hidden;
  white-space: nowrap;
  animation: text4 6s linear infinite ;
}

@keyframes text4 {
  0% {width: 0%;}
  25% {width: 0%;}
  50% {width: 100%;}
  100% {width: 0%;}
}

.text4:hover{
  animation-play-state: paused;
}

 .box13{
  position: relative;
  background-color: #06A099;
  grid-area: b13;
}

.ls2{
  height: 0;
  width: 0;
}

.tree1{
  position: absolute;
  left: 5.48vw;
  bottom: 0;
  height: 34.99vw;
  transition: .5s ease-in-out;
}

.tree2{
  position: absolute;
  bottom: 0;
  right: 5.48vw;
  height: 34.99vw;
  transition: .5s ease-in-out;

}

.tree1:hover,
.tree2:hover {
  height: 42vw;
}
